In [25]:
import datetime
from datetime import timedelta  
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import random
import sys
if sys.version_info[0] < 3: 
    from StringIO import StringIO
else:
    from io import StringIO
from tqdm import tqdm 

    
from IPython.display import HTML
def View(df):
    css = """<style>
    table { border-collapse: collapse; border: 3px solid #eee; }
    table tr th:first-child { background-color: #eeeeee; color: #333; font-weight: bold }
    table thead th { background-color: #eee; color: #000; }
    tr, th, td { border: 1px solid #ccc; border-width: 1px 0 0 1px; border-collapse: collapse;
    padding: 3px; font-family: monospace; font-size: 10px }</style>
    """
    s  = '<script type="text/Javascript">'
    s += 'var win = window.open("", "Title", "toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=780, height=200, top="+(screen.height-400)+", left="+(screen.width-840));'
    s += 'win.document.body.innerHTML = \'' + (df.to_html() + css).replace("\n",'\\') + '\';'
    s += '</script>'
    return(HTML(s+css))    
    
print("Current Working directory " , os.getcwd())

Current Working directory  C:\Users\User\GitHub\WebET_Analysis\prolific

In [26]:
data_et = pd.read_csv(r'C:/Users/User/GitHub/WebET_Analysis/data_jupyter/data_et.csv')
data_trial = pd.read_csv(r'C:/Users/User/GitHub/WebET_Analysis/data_jupyter/data_trial.csv')
data_subject = pd.read_csv(r'C:/Users/User/GitHub/WebET_Analysis/data_jupyter/data_subject_raw.csv') \
    .loc[:, 
            ['run_id', 'prolificID', 
             'birthyear', 'webcam_fps', 'webcam_label', 
             'chosenAmount', 'chosenDelay']] \
   .drop_duplicates() \
   .rename(columns={'chosenAmount': 'bonus_USD',
                    'chosenDelay': 'bonus_delay'})
data_subject['prolificID'] = data_subject['prolificID'].str.strip()

data_prolific_int = pd.read_csv(r'C:/Users/User/GitHub/WebET_Analysis/prolific/prolific_export_int.csv') \
    .rename(columns={'participant_id': 'prolificID'}) 

data_prolific_us = pd.read_csv(r'C:/Users/User/GitHub/WebET_Analysis/prolific/prolific_export_us.csv') \
    .rename(columns={'participant_id': 'prolificID'}) \

data_prolific = data_prolific_int \
    .append(data_prolific_us) \
    .merge(data_subject,
           on='prolificID', 
           how='left')

overview = pd.DataFrame(
    [
        [len(data_et)],
        [len(data_trial)],
        [len(data_subject)],
        [len(data_prolific)]
    ], 
    columns=['length'],
    index=['data_et', 
           'data_trial',
           'data_subject', 
           'data_prolific'])
print(overview)

                length
data_et        2700001
data_trial      132631
data_subject       276
data_prolific      356

# Approve subjects

In [3]:
if 'trial_length' in data_prolific.columns: 
    data_prolific = data_prolific.drop(columns='trial_length')

output = []
for subject in data_trial['run_id'].unique():
    prolificID = data_trial.loc[data_trial['run_id']==subject, 'prolificID'].unique()[0]
    trial_length = len(data_trial.loc[data_trial['run_id']==subject, 'trial_index'].unique())
    output.append([subject, prolificID, trial_length])
output = pd.DataFrame(output,
             columns=['run_id', 'prolificID', 'trial_length']
            )

data_prolific = data_prolific.merge(
    output, 
    on=['run_id', 'prolificID'], 
    how='left')

In [4]:
data_et = data_et.merge(
    data_trial.loc[:, ['run_id', 'chinFirst', 'trial_index', 'trial_type', 'task_nr']], 
    on=['run_id', 'trial_index'], 
    how='left'
)

In [5]:
output = []
for subject in tqdm(data_et['run_id'].unique()):
    m_x_fix = data_et.loc[
        (data_et['run_id']==subject) &
        (data_et['trial_type']=='eyetracking-fix-object') &
        ~((data_et['chinFirst']==1) & (data_et['task_nr']==2) |
          (data_et['chinFirst']==0) & (data_et['task_nr']==3) 
         ), 
        'x'
    ].mean()
    m_x_choice = data_et.loc[
        (data_et['run_id']==subject) &
        (data_et['trial_type']=='eyetracking-choice'), 
        'x'
    ].mean()

    m_y_fix = data_et.loc[
        (data_et['run_id']==subject) &
        (data_et['trial_type']=='eyetracking-fix-object') &
        ~((data_et['chinFirst']==1) & (data_et['task_nr']==2) |
          (data_et['chinFirst']==0) & (data_et['task_nr']==3) 
         ), 
        'y'
    ].mean()
    m_y_choice = data_et.loc[
        (data_et['run_id']==subject) &
        (data_et['trial_type']=='eyetracking-choice'), 
        'y'
    ].mean()

    m_count_fix = data_et.loc[
        (data_et['run_id']==subject) &
        (data_et['trial_type']=='eyetracking-fix-object') &
        ~((data_et['chinFirst']==1) & (data_et['task_nr']==2) |
          (data_et['chinFirst']==0) & (data_et['task_nr']==3) 
         ), 
        'x'
    ].count()

    m_count_choice = data_et.loc[
        (data_et['run_id']==subject) &
        (data_et['trial_type']=='eyetracking-choice'), 
        'x'
    ].count()
    
    n_choseTop = sum(data_trial.loc[
        (data_trial['trial_type']=='eyetracking-choice') &
        (data_trial['run_id']==subject),
        'key_press']==38)

    output.append([subject, m_x_fix, m_y_fix, m_x_choice, m_y_choice, 
                   m_count_fix, m_count_choice, 
                   n_choseTop])

output = pd.DataFrame(output, 
                      columns=['run_id', 'm_x_fix', 'm_y_fix', 'm_x_choice', 'm_y_choice', 
                               'm_count_fix', 'm_count_choice',
                               'n_choseTop'])
output

data_prolific = data_prolific.merge(output, on='run_id', how='left')

100%|████████████████████████████████████████████████████████████████████████████████| 252/252 [06:27<00:00,  1.54s/it]

# These subjects await review

In [6]:
data_prolific['status'].unique()

array(['APPROVED', 'RETURNED', 'REJECTED', 'TIMED-OUT'], dtype=object)

In [7]:
awaiting_review = data_prolific.loc[
    data_prolific['status']=='AWAITING REVIEW', 
    ['run_id', 'prolificID', 'started_datetime', 'time_taken', 'trial_length',
     #'m_x_fix', 'm_y_fix', 'm_x_choice', 'm_y_choice', 'm_count_fix', 'm_count_choice',
     #'n_choseTop'
    ]
].sort_values(by='started_datetime')
awaiting_review
# View(awaiting_review)

In [8]:
data_prolific.loc[
    data_prolific['status']=='AWAITING REVIEW', 
    'prolificID'].to_csv(header=None, index=False, line_terminator=', ')

''

In [10]:
if 'choice_rt' in data_prolific.columns:
    data_prolific = data_prolific.drop(columns='choice_rt')
grouped = data_trial \
    .loc[
        data_trial['trial_type']=='eyetracking-choice', 
        :] \
    .groupby(['prolificID'])['rt'].mean() \
    .reset_index() \
    .rename(columns={'rt': 'choice_rt'})

data_prolific = data_prolific.merge(
    grouped, 
    on='prolificID', 
    how='left')

data_prolific.loc[
    data_prolific['status']=='AWAITING REVIEW', 
    ['run_id', 'prolificID', 'webcam_fps', 
     'choice_rt', 'bonus_USD', 'bonus_delay']
] \
    .sort_values(by='run_id')

Empty DataFrame
Columns: [run_id, prolificID, webcam_fps, choice_rt, bonus_USD, bonus_delay]
Index: []

# data_pay

In [11]:
data_pay = data_prolific.loc[
    data_prolific['status']=='APPROVED', 
    [
        'run_id', 'prolificID', 'trial_length', 
        'age',  'Country of Birth', 'Current Country of Residence', 'First Language',
        'Nationality', 'Sex',
        'status', 'reviewed_at_datetime', 'Country of Birth', 'entered_code',
        'session_id', 'started_datetime', 'completed_date_time', 'time_taken',
        'bonus_USD', 'bonus_delay'
    ]
]
print(len(data_pay))

250

# Bonus payment

Reformat payments

In [12]:
data_pay['bonus_delay'] = data_pay['bonus_delay'].astype(str)
data_pay['bonus_delay'] = data_pay['bonus_delay'] \
    .replace(['Today', 'Tomorrow', '7 days', 
          '15 days', '30 days', '90 days', 
          '180 days'], 
         [0, 1, 7, 15, 30, 90, 180]) \
    .astype(float)

data_pay['bonus_USD'] = data_pay['bonus_USD'].astype(str)
data_pay['bonus_USD'] = data_pay['bonus_USD'] \
    .replace({'\$':''}, regex = True) \
    .replace('50 cent', 0.5) \
    .astype(float)

data_pay.loc[:, ['bonus_USD', 'bonus_delay']].head(5)

    bonus_USD  bonus_delay
0         4.5          7.0
3         4.5         30.0
4         4.5         30.0
5         4.0         30.0
10        5.0         30.0

## Missing values

In [13]:
data_pay.loc[pd.isna(data_pay['bonus_delay']), 
             ['run_id', 'prolificID', 'started_datetime', 
              'trial_length', 'bonus_delay', 'status']]

,run_id,prolificID,started_datetime,trial_length,bonus_delay,status
11,NaN,5fea6632bf9ae4a79153efdf,2021-01-18 08:30:53.598000,NaN,NaN,APPROVED
15,NaN,5b8969006651ea000118e42e,2021-01-18 08:33:12.885000,NaN,NaN,APPROVED
29,NaN,5f561a95aa1c4ea13672f138,2021-01-18 10:59:58.909000,NaN,NaN,APPROVED
49,NaN,5fa1192cf99e161a5cfad1cd,2021-01-19 09:09:18.617000,NaN,NaN,APPROVED
66,NaN,5fb2af792942a58ffe303948,2021-01-19 09:09:32.561000,NaN,NaN,APPROVED
71,NaN,5d430fdf871f1700017b2a81,2021-01-19 09:10:03.087000,NaN,NaN,APPROVED
86,NaN,5edc20443467e28ec4e30f93,2021-01-19 09:50:39.683000,NaN,NaN,APPROVED
120,NaN,600bb4e0206b7027ab4a4202,2021-02-11 19:56:53.138000,NaN,NaN,APPROVED
187,NaN,5edd5722d3e5b5a717e1b4a2,2021-02-12 20:56:50.547000,NaN,NaN,APPROVED
193,NaN,5f119c5ad521140253f60e86,2021-02-12 21:25:40.561000,NaN,NaN,APPROVED
198,NaN,60186dc2cc1aa8103499603a,2021-02-12 22:28:51.483000,NaN,NaN,APPROVED
230,NaN,5f2280c4a4474574b3704136,2021-02-12 23:43:24.352000,NaN,NaN,APPROVED
248,NaN,5fde6c73ad8fba6069f139ed,2021-02-13 00:16:09.968000,NaN,NaN,APPROVED
250,NaN,55a83419fdf99b055f579192,2021-02-13 00:35:06.623000,NaN,NaN,APPROVED
291,NaN,6003361889252e03cebd8fff,2021-02-13 02:10:53.106000,NaN,NaN,APPROVED
301,NaN,5f4fe72e9468441227166179,2021-02-13 02:53:03.452000,NaN,NaN,APPROVED
329,NaN,5ec00f62cf12be40ea6fe344,2021-02-13 19:34:24.131000,NaN,NaN,APPROVED
332,NaN,6018e18d98e6b01f8c5442de,2021-02-13 19:34:57.700000,NaN,NaN,APPROVED
351,NaN,5ec5a64c306f255ec98d5cc1,2021-02-13 21:00:03.633000,NaN,NaN,APPROVED

In [14]:
# For two subjects, the bonus payment was not recorded
data_pay.loc[
    data_pay['prolificID'].isin([
        '5ef6d07be683903cd5ae171d',
        '5fea6632bf9ae4a79153efdf',
        '60186dc2cc1aa8103499603a',
        '5f4fe72e9468441227166179',
        '5ec5a64c306f255ec98d5cc1',
        '5b8969006651ea000118e42e', 
        '5fb2af792942a58ffe303948', 
        '5edc20443467e28ec4e30f93',
        '5fa1192cf99e161a5cfad1cd', 
        '5d430fdf871f1700017b2a81',
        '5c95970cd676900016e1a940',
    ]), ['bonus_USD', 'bonus_delay']] = [5, 1]

data_pay.loc[data_pay['prolificID'].isin([
        '5fea6632bf9ae4a79153efdf',
        '5ef6d07be683903cd5ae171d',
        '60186dc2cc1aa8103499603a',
        '5f4fe72e9468441227166179',
        '5ec5a64c306f255ec98d5cc1',
        '5b8969006651ea000118e42e', 
        '5fb2af792942a58ffe303948', 
        '5edc20443467e28ec4e30f93',
        '5fa1192cf99e161a5cfad1cd', 
        '5d430fdf871f1700017b2a81',
        '5c95970cd676900016e1a940',
        ]), ['run_id', 'prolificID', 'bonus_USD', 'bonus_delay']]

     run_id                prolificID  bonus_USD  bonus_delay
11      NaN  5fea6632bf9ae4a79153efdf        5.0          1.0
15      NaN  5b8969006651ea000118e42e        5.0          1.0
49      NaN  5fa1192cf99e161a5cfad1cd        5.0          1.0
66      NaN  5fb2af792942a58ffe303948        5.0          1.0
71      NaN  5d430fdf871f1700017b2a81        5.0          1.0
86      NaN  5edc20443467e28ec4e30f93        5.0          1.0
113   183.0  5c95970cd676900016e1a940        5.0          1.0
148   224.0  5ef6d07be683903cd5ae171d        5.0          1.0
198     NaN  60186dc2cc1aa8103499603a        5.0          1.0
301     NaN  5f4fe72e9468441227166179        5.0          1.0
351     NaN  5ec5a64c306f255ec98d5cc1        5.0          1.0

In [20]:
data_pay.loc[
    data_pay[['bonus_USD', 'bonus_delay']].isnull().any(axis=1), 
    ['run_id', 'prolificID', 'trial_length', 'started_datetime', 'reviewed_at_datetime']
].sort_values(by='started_datetime')

,run_id,prolificID,trial_length,started_datetime,reviewed_at_datetime
14,NaN,5f561a95aa1c4ea13672f138,NaN,2021-01-18 10:59:58.909000,2021-01-18 17:55:18.379000
71,NaN,600bb4e0206b7027ab4a4202,NaN,2021-02-11 19:56:53.138000,2021-02-12 08:07:44.194000
122,NaN,5edd5722d3e5b5a717e1b4a2,NaN,2021-02-12 20:56:50.547000,2021-02-13 23:01:29.390000
127,NaN,5f119c5ad521140253f60e86,NaN,2021-02-12 21:25:40.561000,2021-02-13 23:01:51.098000
154,NaN,5f2280c4a4474574b3704136,NaN,2021-02-12 23:43:24.352000,2021-02-13 23:02:49.116000
167,NaN,5fde6c73ad8fba6069f139ed,NaN,2021-02-13 00:16:09.968000,2021-02-13 23:03:33.453000
169,NaN,55a83419fdf99b055f579192,NaN,2021-02-13 00:35:06.623000,2021-02-13 23:03:36.963000
198,NaN,6003361889252e03cebd8fff,NaN,2021-02-13 02:10:53.106000,2021-02-14 00:12:48.075000
230,NaN,5ec00f62cf12be40ea6fe344,NaN,2021-02-13 19:34:24.131000,2021-02-14 00:14:09.548000
232,NaN,6018e18d98e6b01f8c5442de,NaN,2021-02-13 19:34:57.700000,2021-02-14 00:14:20.505000

In [23]:
data_prolific.loc[
    data_prolific['prolificID']=='5f561a95aa1c4ea13672f138',
]

,session_id,prolificID,status,started_datetime,completed_date_time,time_taken,age,num_approvals,num_rejections,prolific_score,...,bonus_delay,trial_length,m_x_fix,m_y_fix,m_x_choice,m_y_choice,m_count_fix,m_count_choice,n_choseTop,choice_rt
29,60056a2e6848dc787cce5db2,5f561a95aa1c4ea13672f138,APPROVED,2021-01-18 10:59:58.909000,2021-01-18 11:19:56.498000,1197.589,37.0,106,2,99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1330.066687

In [24]:
data_subject.loc[
    data_subject['prolificID']=='5f561a95aa1c4ea13672f138',
]

Empty DataFrame
Columns: [run_id, prolificID, birthyear, webcam_fps, webcam_label, bonus_USD, bonus_delay]
Index: []

## Bonus in other currencies

In [16]:
data_pay['bonus_GBP'] = data_pay['bonus_USD'] * 0.75
data_pay['bonus_EUR'] = data_pay['bonus_GBP'] * 1.13

## When is the bonus due?

In [17]:
def add_completed_date(data, data_trial):
    output = []

    for subject in data_trial['run_id'].unique():
        thisSubject = data_trial.loc[data_trial['run_id']==subject] \
            .reset_index(drop=True)
        date_time_obj = datetime.datetime.strptime(
            thisSubject.loc[0, 'recorded_at'], '%Y-%m-%d %H:%M:%S')

        output.append([thisSubject.loc[0, 'run_id'], date_time_obj.date()])
        
    output = pd.DataFrame(output, columns=['run_id', 'date']) 
    
    if 'date' in data.columns: data = data.drop(columns=['date'])
    data = data.merge(output, on='run_id', how='left')
    return data

data_pay = add_completed_date(data_pay, data_trial)
    
data_pay.loc[data_pay['run_id']==444, 'completed_date_time'] = \
    '2021-02-13 21:52:30.000000'
    
data_pay['completed_date']=data_pay.apply(
    lambda x: datetime.datetime.strptime(
        x['completed_date_time'], '%Y-%m-%d %H:%M:%S.%f') \
            .date(),
    axis=1)

data_pay['due_on'] = data_pay['completed_date'] + \
    data_pay['bonus_delay'].map(datetime.timedelta) 

print(len(data_pay))

ValueError: cannot convert float NaN to integer

In [ ]:
data_due = data_pay.loc[:, 
               [
                   'prolificID', 'run_id',
                   'Nationality', 'Current Country of Residence', 'Sex',  
                   'bonus_USD', 'bonus_GBP', 'bonus_EUR', 
                   'completed_date', 'bonus_delay', 'due_on'
               ]
              ]. sort_values(by='due_on')
# View(data_due)

## What bonus is due today?

In [ ]:
bonus_due_today = data_pay.loc[
    (data_pay['due_on']==datetime.datetime.now().date()), 
    ['run_id', 'prolificID', 'status', 
     'started_datetime', 'reviewed_at_datetime', 
     'bonus_GBP', 'bonus_delay', 'due_on']
]
bonus_due_today['bonus_GBP'] = bonus_due_today['bonus_GBP'].round(2)
bonus_due_today

In [ ]:
bonus_due_today.loc[
    bonus_due_today['run_id']<=130, 
    ['prolificID', 'bonus_GBP']] \
    .to_csv(
        'C:/Users/User/GitHub/WebET_Analysis/prolific/bonusToday_int.csv', 
        index=False, 
        header=False
    )

bonus_due_today.loc[
    bonus_due_today['run_id']>130, 
    ['prolificID', 'bonus_GBP']] \
    .to_csv(
        'C:/Users/User/GitHub/WebET_Analysis/prolific/bonusToday_us.csv', 
        index=False, 
        header=False
    )
print(bonus_due_today['due_on'].unique())

## Bonus left to pay

In [ ]:
data_pay.loc[
    data_pay['due_on']>datetime.datetime.now().date(), 
    ['prolificID', 'completed_date', 'bonus_GBP', 'due_on']]

In [ ]:
left_bonus = data_pay.loc[
    data_pay['due_on']>datetime.datetime.now().date(), 
    'bonus_GBP'].sum()

print(f'Left bonus (GBP): {left_bonus * 1.2 + (left_bonus*0.2*0.2)}')

# Total costs

## Basic payment

In [ ]:
data_pay['basic_GBP'] = 2.25
data_pay.loc[:, ['basic_GBP', 'bonus_GBP']].head(5)

## Total

In [ ]:
print('N =' + str(len(data_pay)) + '\n')

reward_basic = data_pay['basic_GBP'].sum()
service_fee = reward_basic * 0.2
vat = reward_basic * 0.2*0.2
total_basic = data_pay['basic_GBP'].sum() * 1.4
total_bonus = data_pay['bonus_GBP'].sum() * 1.4
total = total_basic + total_bonus

overview = pd.DataFrame(
    [
        [reward_basic], 
        [service_fee], [vat], 
        [total_basic], [total_bonus], [total]
    ], 
    columns=['GBP'],
    index= ['reward_basic', 
        'service_fee', 'vat', 
        'total_basic', 'total_bonus', 'total'])
print(str(overview) + '\n')

print('Total in €, incl. transaction fee: ' + str(total * 1.14))

## Total already paid 
Basic + bonus until today. Use that to compare with prolific bills

In [ ]:
bonus_GBP_already_paid = data_pay.loc[
    data_pay['due_on']<=datetime.datetime.now().date(), 
    'bonus_GBP'].sum()

reward_basic = data_pay['basic_GBP'].sum()
service_fee = (reward_basic + bonus_GBP_already_paid) * 0.2
vat = (reward_basic + bonus_GBP_already_paid) * 0.2*0.2
total_basic = data_pay['basic_GBP'].sum() * 1.4
total_bonus = bonus_GBP_already_paid * 1.4
total = total_basic + total_bonus

overview = pd.DataFrame(
    [
        [reward_basic], 
        [service_fee], [vat], 
        [total_basic], [total_bonus], [total]
    ], 
    columns=['GBP'],
    index= ['reward_basic', 
        'service_fee', 'vat', 
        'total_basic', 'total_bonus', 'total'])
print(str(overview) + '\n')

print('Total in €, incl. transaction fee: ' + str(total * 1.14))

# Prognosis for the larger sample

In [ ]:
def cost_prognosis(n):
    reward_basic = n * data_pay['basic_GBP'].mean()
    reward_bonus = n * data_pay['bonus_GBP'].mean()
        
    total_reward = reward_basic + reward_bonus
    service_fee  = total_reward * 0.2
    vat          = total_reward * 0.2*0.2
    total_basic  = reward_basic + reward_basic*0.2 + reward_basic*0.2*0.2
    total_bonus  = reward_bonus + reward_bonus*0.2 + reward_bonus*0.2*0.2
    total        = total_reward + service_fee + vat

    overview = pd.DataFrame(
        [
            [reward_basic], [reward_bonus], [total_reward],
            [service_fee], [vat], 
            [total_basic], [total_bonus], [total], [total * 1.14]
        ], 
        columns=[n],
        index= ['reward_basic', 'reward_bonus', 'total_reward',
            'service_fee', 'vat', 
            'total_basic', 'total_bonus', 'total GBP', 'total EUR'])
    overview = round(overview, 2)
    return(overview)

print('Budget: ' + str(round(2101*0.88, 2)) + ' GBP / ' + 
      '2101.00 EUR / ' +
      'n=' + str(int(np.floor((2101*0.88)/6.6)))
     )

print('Paid:   1700.50 GBP / ' + 
      str(round(1700.5*1.15, 2)) + ' EUR / ' + 
      'n=' + str(int(np.floor(1700.5/6.6))))
buffer_EUR = 2101-1955.57
buffer_GBP = buffer_EUR * 0.88
print('Buffer: ' + str(round(buffer_GBP, 2)) + ' /  ' + 
      str(round(buffer_EUR, 2)) + ' EUR / n=' + 
      str(int(np.floor(buffer_GBP/6.6))) + '\n')
print('Collect 207 more participants.')

pd.concat([
    cost_prognosis(1),
    cost_prognosis(50),
    cost_prognosis(257), 
    cost_prognosis(207)
], axis=1)

# Export modified prolific data

In [ ]:
data_pay.to_csv('C:/Users/User/GitHub/WebET_Analysis/prolific/data_pay.csv', index=False, header=True)

# Feedback

In [ ]:
print('Success! Script ran through.')